{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}NewBie{% endblock %}</title>

    <!-- Bootstrap/BootFlat CSS -->
    <link rel="stylesheet" href="{% static 'semantic.min.css' %}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extra_head %}
    {% endblock %}
</head>

<body>
{% block navbar %}
<nav class="ui borderless main menu">
    <div class="ui container">
        <a href="/" class="header item">
            <!--<img class="logo" src="assets/images/logo.png">-->
            NewBie
        </a>
        <div class="right menu">
            {% if user.is_authenticated %}
            <a class="item" href="{% url 'account_email' %}">Change E-mail</a>
            <a class="item" href="{% url 'account_logout' %}">Sign Out</a>
            {% else %}
            <a class="item" href="{% url 'account_login' %}">Sign In</a>
            <a class="item" href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{% block alerts %}
    {% if messages %}
        {% for message in messages %}
        <div class="ui {{message.tags}} message">
            <i class="close icon"></i>
            <p>{{message}}</p>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block bodystart %}
{% endblock %}

<div class="ui main text container">
    {% block content %}
    {% endblock %}
</div>

{% block footer %}
{% endblock %}

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'semantic.min.js' %}"></script>
<script>
    $('.message .close').on('click', function() {$(this).closest('.message').transition('fade');});
</script>
{% block scripts %}
{% endblock %}
</body>
</html>
