{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}NewBie{% endblock %}</title>

    <!-- Bootstrap/BootFlat CSS -->
    <link rel="stylesheet" href="{% static 'semantic.min.css' %}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extra_head %}
    {% endblock %}
</head>

<body>
{% block bodystart %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'semantic.min.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
